@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background: #1f2937;
    display: flex;
    flex-direction: row;
    padding: 10px 125px 100px 125px;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    flex: 1 1 auto;
}

header ul {
    display: inline-flex;
    list-style: none;
    gap: 25px;
}

header a {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 300;
    text-decoration: none;
}

.hero {
    background: #1f2937;
    padding: 10px 125px 100px 125px;
    display: flex;
    gap: 50px;
}

.hero-text-small {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 300;
    text-decoration: none;
}

.hero-left {
    display: flex;
    flex-direction: column;
}

img {
    display: block;
    box-shadow: 5px 5px 10px;
}

.hero-text-large {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero button {
    font-size: 14px;
    background: #3882f6;
    color: #e5e7eb;
    box-shadow: 5px 5px 10px black;
    width: 100px;
    margin: 10px 0 10px 0;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
}

.title {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding: 50px 0 50px 0px;
}

.card-container {
    display: flex;
    justify-content: center;

}

.card-image {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 5px;
}